  body {
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.2rem; */
  }
  
 
  .a {
      color: #494859;
      font-size: 39.26px;
      font-family: 'ChunkyTownDemo', 'Chunky Town Demo';
    }

  .icon {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    letter-spacing: 2.2px;
    color: #494859;
  }
  
  /* .sidebar .nav-link.active {
    color: #007bff;
  } */
  
  .navbar .navbar-toggler {
    /* top: .75rem; */
    right: 1rem;
  }

  form.search input[type=text] {
    padding: 14px;
    font-size: 20px;
    border: 1px solid #17a2b8;
    width: 80%;
    border-radius: 4px;
  }
  
  form.search button {
    width: 16%;
    padding: 14px;
    font-size: 20px;
    margin-left: 1em;
  }

  @media screen and (max-width: 550px) {
    form.search input[type=text] {
      padding: 8px;
      font-size: 14px;
      border: 1px solid #17a2b8;
      width: 50%;
      border-radius: 4px;
    }
    form.search button {
      width: 35%;
      padding: 8px;
      font-size: 14px;
      margin-left: 1em;
    }
    .mainCol {
      top: 1em;
    }
  }
  .mainCol {
    top: 6em;
  }
  .mynextShipping{
    margin-top:5px;
    margin-left:5px;
  }
  .mynextShippingdiv{
     text-align:right;
  }